[Daisy_Meta]
Produzent=Producer of Magazin
Autor=Author of Magazin
Titel=Title of Magazin
Edition=Edition of Magazin
Sprecher=Narrator of Magazin
Stichworte=Keywords
ISBN/Ref-Nr.Original=Referenc-Numbers etc.
Verlag=Publisher
Jahr=Year
